<div class="h-100" style="background-color:  #122f3b;">
    <div style="padding: 10px;display: flex;align-items: flex-end;">
        <!-- <img src="../assets/img/logo.svg" style="width: 100px;" alt=""> -->

        <span style="color:#25B39A;font-weight: 600;letter-spacing: 1px;">GREEN-IOT</span>
    </div>
    <div class="px-3">
        <div class="mt-4 d-flex text-light">
            <div style="width: 25px;">
                <i class="fas fa-chart-line"></i>
            </div>
            <div>Dashboard</div>
            
        </div>
        <div class="mt-4 d-flex text-light">
            <div style="width: 25px;">
                <i class="fab fa-pagelines"></i>
            </div>
            <div>Conseils de Culture</div>
            
        </div>
        <div class="mt-4 d-flex text-light">
            <div style="width: 25px;">
                <i class="fas fa-stethoscope"></i>
            </div>
            <div>Docteur</div>
        </div>
        <div class="mt-4 d-flex text-light">
            <div style="width: 25px;">
                <i class="fas fa-broadcast-tower"></i>
            </div>
            <div>Les Capteurs</div>
        </div>


    </div>
</div>
