
<agm-map [latitude]="lat" [longitude]="lon" >
    <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
    <agm-marker [latitude]="lat" [longitude]="lon2"></agm-marker>
</agm-map>


<div class="row">
    <div class="col">
        <div>
            <canvas id="temperature" width="600" height="150"></canvas>
        </div>
        <div>
            Temperature
        </div>
    </div>
    <div class="col">
        <div>
            <canvas id="humidity" width="600" height="150"></canvas>
        </div>
        <div>
            Humidity
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div>
            <canvas id="N" width="600" height="150"></canvas>
        </div>
        <div>
            N
        </div>
        
    </div>
    <div class="col">
        <div>
            <canvas id="P" width="600" height="150"></canvas>
        </div>
        <div>
            P
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div>
            <canvas id="K" width="600" height="150"></canvas>
        </div>
        <div>
            K
        </div>
    </div>
    <div class="col">
        <div>
            <canvas id="ph" width="600" height="150"></canvas>
        </div>
        <div>
            PH
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div>
            <canvas id="rainfall" width="600" height="150"></canvas>
        </div>
        <div>
            Rainfall
        </div>
    </div>
</div>








